# Guacamole environment variables
POSTGRES_DB=guacamole_db
POSTGRES_USER=guacamole_user
POSTGRES_PASSWORD=guacamole_pass

# Guacamole admin user credentials
GUACAMOLE_ADMIN_USERNAME=admin
GUACAMOLE_ADMIN_PASSWORD=admin_pass